.overall {
    display: grid;
    grid-template-columns: 510px 510px;
    grid-template-areas: 
    "a b"
    "c d";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    background-color: whitesmoke; 
    width: 1020px; 
    padding-bottom: 10px;
    margin-left: 140px;
}
.topleft {
    grid-area: a;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px dashed rgb(30, 209, 241);
}
.topright {
    grid-area: b;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.bottomleft {
    grid-area: c;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px dashed rgb(30, 209, 241);
}
.bottomright {
    grid-area: d;
    padding-left: 10px;
    padding-right: 10px;
}
.heading1 {
    color: rgb(30, 209, 241);
    font-size: 30px;
    font-weight: 600;
}
.info {
    color: gold;
}
.grey {
    padding-top: 0.5em;
    color: gray;
    font-weight: 500;
}
.banner {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: rgb(30, 209, 241);
    text-align: center;
    margin-top: 1em;
    font-size: 15px;
    padding: 0px 0px 2px 0px;
}
.images {
    width: 100px;
}
.inline {
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template: 
    "a1 a1 a1"
    "b1 c1 c1"
    "d1 e1 f1";
}
.portion {
    font-size: 30px;
    grid-area: a1;
    color: navy;
    text-align: left;
    font-weight: 600;
}
.lrm {
    grid-area: b1;
    color: rgb(30, 209, 241);
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}
.x1 {
    grid-area: c1;
}
.x2 {
    grid-area: d1;
}
.x3 {
    grid-area: e1;
}
.x4 {
    grid-area: f1;
}
.healthy {
    font-size: 30px;
    color: navy;
    text-align: left;
    font-weight: 600;
    padding-top: 20px;
}
.eating {
    font-size: 23px;
    font-weight: 600;
    color: rgb(30, 209, 241);
}
.percent {
    font-size: 50px;
    color: gold;
    font-weight: 500;
}
#f01, #f02, #f03, #f04 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    text-align: center;
}
#f11 {
    width: 100px;
}
#f12 {
    width: 135px;
}
#f13 {
    width: 170px;
}
#f14 {
    width: 200px;
}
.doc3 {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h";
}
.doc4 {
    grid-area: a;
    text-align: end;
    padding-bottom: 15px;
}
.near {
    font-size: 30px;
    color: navy;
    font-weight: 600;
}
.suffer {
    font-size: 11px;
    color: rgb(30, 209, 241);
    font-weight: 700;
}
.img5 {
    grid-area: b;
    width: 250px;
}
.prcnt {
    font-size: 30px;
    font-weight: 600;
    color: navy;
}
.doc5 {
    grid-area: c;
    text-align: right;
}
.adult {
    font-size: 15px;
    font-weight: 600;
    color: gold;
}
.img1 {
    grid-area: d;
    width: 150px;
}
.doc6 {
    grid-area: e;
    text-align: right;
}
.young {
    font-size: 15px;
    font-weight: 600;
    color: gold;
}
.img2 {
    grid-area: f;
    width: 105px;
    padding-left: 3px;
}
.doc7 {
    grid-area: g;
    text-align: right;
}
.child {
    font-size: 15px;
    font-weight: 600;
    color: gold;
}
.img3 {
    grid-area: h;
    width: 68px;
}
.doc10 {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-areas: 
    "i j"
    "k l"
    "m n";
    padding-top: 20px;
}
.img7 {
    grid-area: i;
}
.doc11 {
    grid-area: j;
    text-align: left;
}
.img8 {
    grid-area: k;
}
.doc12 {
    grid-area: l;
    text-align: left;
}
.img9 {
    grid-area: m;
}
.doc13 {
    grid-area: n;
    text-align: left;
}
.dsc {
    font-size: 20px;
    font-weight: 700;
    color: navy;
}
.eightlakh {
    font-size: 25px;
    font-weight: 600;
    color: gold;
}
.people {
    font-size: 15px;
}
.ipsum {
    font-weight: 700;
    color: rgb(30, 209, 241);
}